[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
keras = "*"
tensorflow = "*"
sklearn = "*"
h5py = "*"
pandas-datareader = "*"
openpyxl = "*"
tqdm = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
